{
    "mail": {
        "from": "",
        "host": "",
        "port": 465,
        "username": "",
        "password": ""
    },
    "list": [
        {
            "title": "",
            "path": "",
            "emails": ""
        }
    ]
}
